.DS_Project
solution.js
solution.html
solution-footer.ejs
solution-header.ejs
solution.css
README.md
goal.png
solution.ejs
goal-large.png
goal-small.png
featues-goal.jpg
footer-goal.jpg
pricing-goal.jpg
testimonial-goal.jpg
title-goal.jpg

